/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.done {
  text-decoration: line-through rgb(255, 0, 0);
}

.btn-custom {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: rgb(16, 157, 176); ;
  border: 0px;
  color: #fff;
}
.btn-custom:hover{
  background-color: rgb(10, 99, 111); ;
}